

body {
    margin-top: 50px; 
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
	background: url('abstract.jpg') no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
	background: url('abstract.jpg') no-repeat center center scroll;
    height: 450px;
}

.img-center {
	margin: 0 auto;
}

section {
    padding: 35px 0;
}

.section-heading {
    margin: 10px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
    text-align:justify;
}

.section-paragraph {
    margin: 30px 0;
    font-size: large;
}

footer {
    margin: 50px 0;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}